/* Progress Bar */

#progressBar{

position:fixed;

top:0;

left:0;

width:0;

height:5px;

background:linear-gradient(90deg,#FFD700,#00ff88);

z-index:999999;

}

/* Cursor */

.cursor{

position:fixed;

width:12px;

height:12px;

background:#FFD700;

border-radius:50%;

pointer-events:none;

z-index:999999;

transform:translate(-50%,-50%);

}

.cursor2{

position:fixed;

width:35px;

height:35px;

border:2px solid #FFD700;

border-radius:50%;

pointer-events:none;

z-index:999998;

transform:translate(-50%,-50%);

transition:.15s;

}
